@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

body {
    background: black;
    margin: 0;
    overflow: hidden !important;

    text-rendering: optimizeSpeed;
    font-smooth: never;
    user-select: none;
}

div#toolbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    align-content: stretch;
    position: fixed;
    width: 100vw;
    height: 7.5vh;
    color: white;

    pointer-events: none;

    font-family: 'Iceberg', cursive;
    font-size: 2.5vh;
}

div#toolbar p {
    flex: 1;
    display: inline;
    text-align: center;
}
